:root{
    --color-bg: #001636;
    --color-selection: #00489933;
    
    --color-base: #AAAAAA;
    --color-expr: #AAAAAA;

    --color-mute: #888888;

    --color-keyword: #4097ad;
    --color-symbol: #5353ff;
    --color-operator: #9191fa;

    --color-number: #fd0177;
    
    --color-string: #02b302;
    --color-string-escape: #fd0177;
    --color-string-inner: var(--color-string-inner);

    --color-error: #FF0000;
}
::selection {
    background: var(--color-selection);
    margin-right: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

head, body{
    background: #000000;
    width: 100%;
    height: 100%;

    font-family: 'Source Code Pro', monospace;
}
body{
    background: var(--color-bg);
}

#header{
    background: var(--color-bg);
    box-shadow: 0px 5px 5px 2px #121212;

    font-size: 150%;
    color: var(--color-base);

    border-radius: 2px;
    
    height: auto;

    margin: 5px;
    padding: 10px;
    padding-left: 20px;

    border-radius: 2px;    
    border-top-right-radius: 20px;

    margin-bottom: 5px;
}
#editor_container{
    background: var(--color-bg);
    box-shadow: 0px 5px 5px 2px #121212;

    padding-top: 20px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 2px;

    height: 500px;
}
#editor{
    position: relative;

    background: var(--color-bg);
    color: var(--color-base);

    min-height: 100px;
    height: 100%;
    width: 100%;

    overflow: auto;
}
#editor_in, #editor_out{
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    min-width: 80%;
    min-height: 100px;
    display: block;

    white-space: pre;
}
#editor_in{    
    padding-left: 5em;

    background: transparent;
    color: transparent;

    border: none;
    outline: none;

    caret-color: red;
}
#editor_out{    
    display: inline-block;

    color: var(--color-base);    
    display: block;
    border: none;

    border-radius: 2px;
    counter-reset: editor_linecount;
}
.editor_line{
    display: inline;
    counter-increment: editor_linecount;
}
.editor_line::before{
    background: var(--color-bg);
    color: var(--color-mute);

    border-right: 0.2em solid #001648;
    content: counter(editor_linecount) " ";
    display: inline-block;
    margin-right: 0.8em;
    width: 4em;
    text-align: right;
}

#editor_err{
    color: var(--color-mute);
    background: var(--color-bg);
    box-shadow: 0px 5px 5px 2px #121212;
    
    white-space: pre;

    height: 200px;

    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    border-bottom-left-radius: 20px;


    overflow: auto;
}

.syntax_underline{
    border-bottom: 2px solid var(--color-base);
    display: inline;
}
.syntax_italic{
    font-style: italic;
    display: inline;
}
.syntax_error{ 
    border-bottom: 2px var(--color-error);
    color: var(--color-error); 
    font-weight: bold;
    display: inline
}

.syntax_keyword{
    font-weight: bold;
    color: var(--color-symbol);
    display: inline;
}
.syntax_symbol{ 
    color: var(--color-symbol);
    display: inline 
}
.syntax_operator{ 
    font-weight: bold;
    color: var(--color-operator);
    display: inline 
}

.syntax_string_quote{
    font-weight: bold;
    color: var(--color-string);
    display: inline;
}
.syntax_string_escape{
    font-weight: bold; 
    color: var(--color-string-escape);
    display: inline
}
.syntax_string_inner{ 
    font-weight: normal;
    font-style: normal;
    color: var(--color-string);
    filter: brightness(90%); 
    display: inline
}

.syntax_number{
    color: var(--color-number); 
    display: inline
}
.syntax_expr{ 
    color: var(--color-expr); 
    display: inline;
}
.syntax_newline{
    clear: clear;
}
