* {
    margin: 0;
    padding: 0;
    border: none;
}

head, body{
    background: #000000;
    width: 100%;
    height: 100%;

    font-family: 'Source Code Pro', monospace;
}
body{
    background: #002836;
}

#header{
    font-size: 150%;

    color: white;
    background: #002836;
    box-shadow: 0px 5px 5px 2px #121212;

    border-radius: 2px;
    
    height: auto;

    margin: 5px;
    padding: 10px;
    padding-left: 20px;

    border-radius: 2px;    
    border-top-right-radius: 20px;

    margin-bottom: 5px;
}
#editor_container{
    padding: 5px;
    margin: 5px;
    padding-left: 20px;
    border-radius: 2px;

    height: 500px;
    background: #002836;
    box-shadow: 0px 5px 5px 2px #121212;

    margin-bottom: 10px;
}
#editor{
    counter-reset: editor_linecount;
    position: relative;

    color: white;
    background: #002836;

    min-height: 100px;
    height: 100%;
    width: 100%;

    overflow: auto;
}
#editor_in, #editor_out{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100px;
    display: block;

    white-space: pre-wrap;
}
#editor_out{    
    color: white;    
    display: block;

    border-radius: 2px;
}
#editor_in{    
    background: transparent;
    color: transparent;

    caret-color: red;
}
#editor_err{
    white-space: pre-wrap;

    height: 200px;

    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    border-bottom-left-radius: 20px;

    color: #AAAAAA;
    background: #002836;
    box-shadow: 0px 5px 5px 2px #121212;

    overflow: auto;
}
.syntax_italic{
    font-style: italic;
    display: inline;
}
.syntax_error{ 
    color: red; 
    font-weight: bold;
    display: inline
}
.syntax_symbol{ 
    color: #AAAAAA;
    display: inline 
}
.syntax_operator{ 
    color: #22FFFF;
    display: inline 
}
.syntax_string{ 
    color: #22882B;
    display: inline
}
.syntax_number{
    color: #8855FF; 
    display: inline
}
.syntax_expr{ 
    color: white; 
    display: inline;
}
